// .circle{
//     border-radius: 500px;
// background: rgba(255, 92, 83, 0.34);
// width: 200px;
// height: 200px;
// flex-shrink: 0;
// position: relative;
// top: -25rem;
// display: flex;
// margin-bottom: 0%;

// }

// .circle h1{
//     color: rgba(255, 92, 83, 0.34);
//     margin-bottom: 0%;
// }
.container{
  margin-top: -3rem;
  bottom: 0%;
}
#device-bg{
    background-color: #F6F6F6;
    margin-top: 3rem;
}



@media (max-width: 640px) {
    #frm-cont {
        background-color: #F6F6F6 ;
        border: none;
      height: 92vh;
    }
  }


  @media (max-width: 640px) {
    #namesfrm input {
        width: 9rem;
    }
  }


  #google-btn{
    border-radius: 20px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.00);
    height: 2rem;
    width: 15rem;
    margin-left: 4.7rem;
    margin-top: 6px;
  }

  #frm input{
    background-color: white;
    border-style: solid;
    border-radius: 1rem;
  }
#reg-btn{
   
border-radius: 25px;
background: #FF5C53;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 640px) {
    #reg-btn {
        margin-left: 70px;
        margin-top: 1.5rem;
        width: 10rem;
        height: 2.8rem;
    }
  }

  @media (max-width: 640px) {
    #google-btn{
       width: 15rem;
       height: 2rem;
       margin-left: 30px;
    }
  }

  @media (max-width: 640px) {
    #logo{
       justify-content: center;
       margin-bottom: 2.5rem;
       margin-top: 1.5rem;
    }
  }

  @media (max-width: 640px) {
    .welcome{
    //    display: block;
    //   margin-left: 28%;
    
      h1{
        text-align: center;
        font-size: 1.7rem;
      }
      p{
       
        text-align: center;
      }
    }
  }
.welcome{
    justify-content: center;
}
  #google-btn img{
    position: relative;
    top: -0.22rem;
  }

  #google-btn h3{
    position: relative;
    top: -1.5rem;
    
  }

//   #reg-btn{
//     width: 20rem;
//     margin-left: 2rem;
//     height: 2.5rem;
//   }
 
  
  #logo{
    justify-content: center;}

    .welcome{
        //    display: block;
        //   margin-left: 28%;
        
          h1{
            text-align: center;
            font-size: 1.7rem;
          }
          p{
           
            text-align: center;
          }
        }


.alert{
   color: red;
        }


        .circle-container {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
        
        .circle {
          position: absolute;
          width: 230px;
          height: 230px;
          background-color: #f0d1cf; /* Change the color as per your requirement */
          border-radius: 50%;
        }
        
        .circle-top-right {
          top: -155px;
          right: -50px;
        }
        
        .circle-bottom-left {
          bottom: -110px;
          left: -80px;
        }

        .relative[_ngcontent-umr-c52] {
          height: 109vh;
          box-shadow: none;
        }